<h1>アカウント情報編集</h1>

<%= form_with model: @user do |f| %>
  <table>
    <tbody>
      <tr>
        <%= f.label :name, "ユーザー名" %><br>
        <%= f.text_field :name %><br>
        <% if @user.errors[:name].any? %>
          <div>
            <%= @user.errors.full_messages_for(:name).first %>
          </div>
        <% end %>
      </tr>
      <tr>
        <%= f.label :email, "メールアドレス" %><br>
        <%= f.email_field :email %><br>
        <% if @user.errors[:email].any? %>
          <div>
            <%= @user.errors.full_messages_for(:email).first %>
          </div>
        <% end %>
      </tr>
    </tbody>
  </table>

  <div>
    <%= f.submit "更新" %>
    <%= link_to "マイページに戻る", user_path(current_user) %>
  </div>
<% end %>