<div class="container mt-4" style="max-width: 600px;">
  <div class="card shadow-sm">
    <div class="card-header bg-white py-3 d-flex justify-content-between">
      <h1 class="h4 mb-0 text-secondary">機器利用申請</h1>
        <% color = @request.pending? ? 'primary' : (@request.approved? ? 'success' : (req.rejected? ? 'danger' : 'secondary')) %>
        <span class="badge rounded-pill bg-<%= color %>-subtle text-<%= color %> border border-<%= color %>-subtle px-3 py-2">
          <%= @request.status_i18n %>
        </span>
    </div>
    <div class="card-body p-4">
      <%= form_with model: @request do |f| %>
        <div class="mb-3">
          <%= f.label :user_id, "申請者", class: "form-label text-muted small text-uppercase mb-1"%>
          <div class="fs-5 fw-bold text-dark">
            <%= @request.user.name %>
          </div>
        </div>

        <div class="mb-4">
          <label class="form-label text-muted small text-uppercase mb-1">デバイスの種類</label>
          <div class="fs-5 fw-bold text-dark">
            <%= @request.device.device_type %>
          </div>
        </div>
        
        <div class="mb-4">
          <label class="form-label text-muted small text-uppercase mb-1">シリアル番号</label>
          <div class="fs-5 fw-bold text-dark">
            <%= @request.device.serial %>
          </div>
        </div>

        <div class="mb-4">
          <%= f.label :start_date, "利用開始日", class: "form-label text-muted small text-uppercase mb-1" %>
          <div class="fs-5 fw-bold text-dark">
            <%= @request.start_date %>
          </div>
        </div>

        <div class="mb-4">
          <%= f.label :end_date, "利用終了日", class: "form-label text-muted small text-uppercase mb-1" %>
          <div class="fs-5 fw-bold text-dark">
            <%= @request.end_date %>
          </div>
        </div>

        <div class="mb-3">
          <% if @request.comment.present? %>
            <%= f.label :comment, "コメント", class: "form-label text-muted small text-uppercase mb-1"  %>
            <div class="fs-5 fw-bold text-dark">
              <%= @request.comment %>
            </div>
          <% end %>
        </div>
        <div class="d-grid gap-2 mt-5">
          <%= link_to "マイページに戻る", user_path(current_user), class: "btn btn-link text-decoration-none text-muted" %>
        </div>
      <% end %>
    </div>
  </div>
</div>